## --- Compilação e Build do C# / .NET ---
[Bb]in/
[Oo]bj/
out/
.vscode/
.vs/
.idea/

## --- Arquivos de Configuração com Segredos Locais ---
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.json.user

## --- Ambientes e Variáveis de Sistema ---
.env
*.user
*.suo

## --- Sistema Operacional (macOS / Windows) ---
.DS_Store
Thumbs.db