## --- Compilação e Build do C# / .NET ---
[Bb]in/
[Oo]bj/
out/
.vscode/
.vs/
.idea/

## --- Arquivos de Configuração com Segredos Locais ---
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.json.user

## --- Ambientes e Variáveis de Sistema ---
.env
*.user
*.suo

## --- Flutter / Dart ---
**/.dart_tool/
**/build/
**/.flutter-plugin-dependencies
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/*.g.dart
**/*.freezed.dart

## --- Sistema Operacional (macOS / Windows) ---
.DS_Store
Thumbs.db